<!DOCTYPE html>
<html>
<body>

  <h1>Pirate's Name: <%=@pirate.name%> </h1>
  <p>Pirate's Height: <%=@pirate.height%> </p>
  <p>Pirates's Weight: <%=@pirate.weight%> </p>


  <h2>First Ship's Name <%=@ship_1.name%></h2>
  <p>First Ship's Type: <%=@ship_1.type%></p>
  <p>First Ship's Booty: <%=@ship_1.booty%></p>


  <h2>Second Ship's Name <%=@ship_2.name%></h2>
  <p>Second Ship's Type: <%=@ship_2.type%></p>
  <p>Second Ship's Booty: <%=@ship_2.booty%></p>

</body>
</html>
